
<?xml version="1.0"?>
<launch>
  <arg name="serial" default="171340" />
  <arg name="monoserial" default="4103203953" />
  <arg name="camera" default="camera" />
  <arg name="frame_id" default="$(arg camera)_optical_frame" />
  <arg name="rgb_frame_id" default="$(arg camera)_rgb_optical_frame" />

  <!-- Logging -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find ensenso)/config/rosconsole.conf"/>

  <!-- Display hack to avoid 'freeglut (NxLib): failed to open display' when
       logging in via SSH.  Still requires that a window manager is running,
       i.e., a user has to be logged into the graphical environment, for
       example via autologin:

       Create a file /etc/lightdm/lightdm.conf.d/90-autologin.conf with the following content:

       ```
       [Seat:*]
       autologin-user=robot
       autologin-user-timeout=0
       ```
       -->
  <arg name="display" default=":0.0" />
  <env name="DISPLAY" value="$(arg display)" />

  <!-- Ensenso driver -->
  <node name="ensenso_driver" pkg="ensenso" type="ensenso_driver" ns="$(arg camera)" output="screen">
    <!-- ******************** STATIC PARAMETERS ******************** -->
    <param name="serial"                type="string" value="$(arg serial)" />
    <param name="monoserial"                type="string" value="$(arg monoserial)" />
    <param name="camera_frame_id"       type="string" value="$(arg frame_id)" />
    <param name="rgb_camera_frame_id"       type="string" value="$(arg rgb_frame_id)" />
    <param name="stream_calib_pattern"  type="bool"   value="false" />
    <!-- ******************** STREAM PARAMETERS ******************** -->
    <param name="Cloud"  type="bool"   value="true" />
    <param name="Images"  type="bool"   value="true" />
    <param name="Depth"  type="bool"   value="true" />
    <!-- ******************** DYNAMIC PARAMETERS ******************** -->
    <!-- Capture parameters -->
    <param name="AutoBlackLevel"   type="bool"   value="true" />
    <param name="AutoExposure"     type="bool"   value="true" />
    <param name="AutoGain"         type="bool"   value="true" />
    <param name="Binning"          type="int"    value="1" />
    <param name="BlackLevelOffset" type="double" value="0.55" />
    <param name="DisparityMapAOI"  type="bool"   value="false" />
    <param name="Exposure"         type="double" value="1.5" />
    <param name="FlexView"         type="bool"   value="true" />
    <param name="FlexViewImages"   type="int"    value="4" />
    <param name="FrontLight"       type="bool"   value="false" />
    <param name="Gain"             type="double" value="1.0" />
    <param name="GainBoost"        type="bool"   value="false" />
    <param name="HardwareGamma"    type="bool"   value="true" />
    <param name="Hdr"              type="bool"   value="false" />