<?xml version="1.0"?>
<launch>
  
  <arg name="serial" default="150534" />
  <arg name="rqt" default="True" />
  <arg name="rviz" default="False" />
  
  <!-- Logging -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find ensenso)/config/rosconsole.conf"/>
  
  <!-- Ensenso driver -->
  <node name="ensenso_driver" pkg="ensenso" type="ensenso_driver" ns="camera" output="screen"> 
    <!-- Static parameters -->
    <param name="stream_calib_pattern"  type="bool"   value="False" />
    <param name="serial"                type="string" value="$(arg serial)" />
    <param name="camera_frame_id"       type="string" value="camera_optical_frame" />
    <!-- Capture parameters -->
    <param name="AutoBlackLevel"    type="bool"   value="true" />
    <param name="AutoExposure"      type="bool"   value="true" />
    <param name="AutoGain"          type="bool"   value="true" />
    <param name="Binning"           type="int"    value="1" />
    <param name="BlackLevelOffset"  type="double" value="0.55" />
    <param name="DisparityMapAOI"   type="bool"   value="false" />
    <param name="Exposure"          type="double" value="1.5" />
    <param name="FlexView"          type="bool"   value="false" />
    <par